<!DOCTYPE html>
<html>
	<head>
		<title>Werewolf</title>

		<link href="https://fonts.googleapis.com/css2?family=Ribeye&family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/header.css">
		<link rel="stylesheet" href="/static/css/rules.css">
	</head>
	<body>
		<div id="header">
			<h1 onclick="location.href='/'">Werewolf</h1>
		</div>
		<form id="game-form" action="/newgame" method="POST">
			
			<label>Players:</label>
			<select id="nplayers" name="nplayers">
				<option selected="selected">4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
				<option>8</option>
			</select>
			<br><br>

			<button id="set-defaults" type="button">Set Defaults</button>

			<div id="role-select-area"></div>

			<label>Seconds per turn:</label>
			<select id="turntime" name="turntime">
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
				<option>8</option>
				<option>9</option>
				<option selected="selected">10</option>
				<option>11</option>
				<option>12</option>
				<option>13</option>
				<option>14</option>
				<option>15</option>
				<option>16</option>
				<option>17</option>
				<option>18</option>
			</select>
			<br>

			<label>Day time:</label>
			<select id="daytime" name="daytime">
				<option>1 minute</option>
				<option>2 minutes</option>
				<option>3 minutes</option>
				<option>4 minutes</option>
				<option selected="selected">5 minutes</option>
				<option>6 minutes</option>
				<option>7 minutes</option>
				<option>8 minutes</option>
			</select>
			<br><br>

			<label>Game Identifier:</label>
			<input name="roomid" type="hidden" value="{{roomid}}">
			<code id="roomid">{{roomid}}</code>
			<br><br>

			<input type="submit" name="submit" id="submit-button" value="Submit">
		</form>

		<script src="/static/js/rules.js"></script>
	</body>
</html>